@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xs: 375px;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  color: white;
  background-color: var(--bg-dark);
}

:root {
  --purple: #9B53FB;
  --light-purple: #DACFF9;
  --bg-dark: #04000f;
}
::selection {
  background: var(--light-purple);
  color: #000000;        
}

.border{
  border: 1px solid rgb(255 255 255 / 15%);
  box-shadow:
  rgba(0, 0, 0, 0.1) 0px 1px 2px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px,
  rgba(0, 0, 0, 0.1) 0px 4px 8px,
  rgba(0, 0, 0, 0.1) 0px 8px 16px,
  rgba(0, 0, 0, 0.1) 0px 16px 32px,
  rgba(0, 0, 0, 0.1) 0px 32px 64px;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fredoka{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}